/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .success_message{
    background-color: green;
}

.failure_message{
   background-color: red;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #f8f9fa;
   padding: 10px 200px;
}

.navbar img {
   width: 8%;
   height: auto;
}

.navbar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   gap: 80px; 
   margin-left: auto;
}

.navbar li {
   display: inline-block;
}

.navbar li a {
   text-decoration: none;
   font-size: 16px;
   color: #333;
}

.navbar li a:hover {
   color: #007bff;
}

.container {
   display: flex;
   justify-content: left;
   gap: 200px;
 }

.box {
   border: 2px solid black;
   height: 420px;
   width: 420px;  
   box-sizing: content-box;
   padding-inline: 10px;
   position: relative;
   left: 100px;
   top: 20px;
   border-radius: 10px;
   overflow: auto;
}
